$primary-color: #282c34;
$text-color: white;
$accent-color: #61dafb;

.App {
  text-align: center;
  
  &-header {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $text-color;
    
    h1 {
      margin-bottom: 20px;
    }
    
    p {
      font-size: calc(10px + 1vmin);
      color: $accent-color;
    }
  }
}